body {
    font-family: 'Noto Sans KR', sans-serif;
    background: #f9f9f9;
    padding: 20px;
  }

  .logo {
    margin-left: 20px;     
    font-weight: bold;
    font-size: 1.4rem;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
  }
  
  h1 {
    text-align: center;
  }

  /* h2 {
    margin-left: 20px;
    margin-top: 100px;
  } */

  .dementia-category {
    margin-left: 20px;
    margin-top: 100px;

  }

  .dementia-text {
    margin-left: 20px;
    font-size: 18px;
  }
  
  .tab-buttons {
    display: flex;
    /* justify-content: center; */
    margin-bottom: 20px;
  }
  
  .tab-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .tab-buttons button.active {
    background: #66a6ff;
    color: white;
  }
  
  .tab-content {
    display: none;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .tab-content.active {
    display: block;
  }

  .treatment-container {
    margin-top: 40px;
  }

  .treatment-section {
    display: none;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .treatment-box.table-layout {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fdfdfd;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    border: 1px solid #ccc;
  }
  
  .treatment-box.table-layout .treatment-section {
    display: table-cell;
    padding: 20px;
    border-left: 1px solid #ccc;
    vertical-align: top;
  }
  
  .treatment-box.table-layout .treatment-section:first-child {
    border-left: none;
  }
  